.parent {
  background-color: #333; 
  padding:20px;
  border-radius:10px;
}
nav{
    display:flex;
    padding:20px;
    justify-content: flex-end;
}
.add, .view {
  color: white;
  font-size:20px;
  padding: 5px 15px;
  cursor: pointer;
  text-decoration: none;
}